<div id="footer">
	<ul>
		<li><%= link_to "合作", "/hezuo" %></li>
		<li><%= link_to "关于", "/hezuo" %></li>
		<li><%= link_to "联系我们", "/hezuo" %></li>
		<li><%= link_to "客服", "/hezuo" %></li>
	</ul>
</div>